.container {
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto;    /* Автоматические отступы слева/справа - центрирует */
    padding: 0 15px;   /* Отступы слева/справа для мобильных */
    box-sizing: border-box; /* Чтобы padding не ломал ширину */
}
.nav-container{
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto;    /* Автоматические отступы слева/справа - центрирует */
    padding: 0 15px;   /* Отступы слева/справа для мобильных */
    box-sizing: border-box;
}
